body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}

.header {
    text-align: center;
    font-family: 'Spectral', serif;
    font-size: 110%;
    text-transform: uppercase;
    border-bottom: 1px solid #000;    
}


ul {
    text-align: left;
}

p {
    text-align: left;
}

.smalltext {
    font-size: 90%;
}

.title {
    margin: 0;
}

.subtitle {
    margin: 0;
}